legend
{
  font-style:bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#formulario label
{
   position:absolute;
   left:19px;
   margin-right:5px;
}
   
   
#formulario input.campo_nome
{
   position:absolute;
   left:95px;
   top:23px;
   width:225px;
}
#formulario input.campo_email
{
   position:absolute;
   left:95px;
   margin-top:2px;
   width:225px;
}
#formulario select.campo_assunto
{
   position:absolute;
   left:95px;
   margin-top:2px;
   width:225px;
}
